# GUI dependencies
customtkinter==5.2.0
newsapi-python==0.2.7
matplotlib==3.7.1
pillow==10.0.0

# Database dependencies
mysql-connector-python==8.0.33

# API dependencies
requests==2.31.0
sib-api-v3-sdk==7.6.0

# Other dependencies
pycryptodome==3.18.0
python-dotenv==1.0.0